
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
  .custom-control.fill-checkbox {
    --color: #4976EF;
  }
  .custom-control.fill-checkbox .fill-control-input {
    display: none;
  }
  .custom-control.fill-checkbox .fill-control-input:checked ~ .fill-control-indicator {
    background-color: var(--color);
    border-color: var(--color);
    background-size: 80%;
  }
  .custom-control.fill-checkbox .fill-control-indicator {
    border: 1px solid #3D5879;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }