.modal-content {
    background-color: #f7f9fa;
    border: 5px solid #3d5879;
    border-radius: 3px;
}

.modal-header-bb {
    border-bottom: 3px solid #3d5879;
}

/* CUSTOM CLASS */
.KPIInfo {
    width: 132px;
    height: 64px;
    border-radius: 5px;
    color: #1d3451;
    background: rgba(61, 88, 121, 0.1);
}

.headerKPI {
    width: 100%;
    margin-left: 0px;
}

.close {
    color: #3D5879;
    font-size: 36px;
}

.tticon {
    color: #55ACEE; 
}
.checkicon{
    color: #55ACEE; 
    margin-left: -18px;
    margin-right: 18px;
    background-color: #fff;
    border-radius: 100%;
}
.picPerson{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

a{
    color:#4976ef;
    font-weight: bold;
}

.badge-outline-primary{
    color: #3D5879;
    border: #3D5879 solid 1px 
}


.badge-close{
    font-weight: bold;
    margin-left: 5px;
}

.div-post{
    border-top: 2px solid;
}

.card{
    border-width: 2px;
}



.space-footer{
    height: 20px;
}

.modalForm{
    font-size: 18px;
}

/* CARD HOME */

.card-home{
    border-width: 1px;
}
.notch-card{
    border: 1px solid;
    width: 100%;
}
.influencer{
    font-weight: normal;
}
.icons-notch-header{
    float: right;
}
.badge-card{
    background-color: #4976FF;
}
.timestamp-card{
    float: right;
}