/* CUSTOM CLASS */

.modal-content {
  background-color: #f7f9fa;
  border: 5px solid #3d5879;
  border-radius: 3px;
}

.modal-header {
  border-bottom: 3px solid #3d5879;
}

.KPIInfo {
  width: 132px;
  height: 64px;
  border-radius: 5px;
  color: #1d3451;
  background: rgba(61, 88, 121, 0.1);
}

.headerKPI {
  width: 100%;
  margin-left: 0px;
}

.close {
  color: #3d5879;
  font-size: 36px;
}

.tticon {
  color: #55acee;
}
.checkicon {
  color: #55acee;
  margin-left: -18px;
  margin-right: 18px;
  background-color: #fff;
  border-radius: 100%;
}
.picPerson {
  width: 54px;
  height: 54px;
  border-radius: 100%;
}

a {
  color: #4976ef;
  font-weight: bold;
}

.badge-outline-primary {
  color: #3d5879;
  border: #3d5879 solid 1px;
}

.badge-close {
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.grouped-posts {
  box-shadow: 8px 8px 20px rgba(61, 88, 121, 0.1);
  border-radius: 8px;
}
.card-body {
  background-color: #fff;
  box-shadow: 8px 8px 20px rgba(61, 88, 121, 0.1);
  border-radius: 8px;
}

.card-body .group-emojis {
  justify-content: center;
}

.grouped-posts::before{
  position: absolute;
  bottom: 15px;
  right: 15px;
  content: "\00a0";
  display: block;
  border: 1px solid rgba(61, 88, 121, 0.7);
  width: 100%;
  height: 100%;
  box-shadow: 8px 8px 20px rgba(61, 88, 121, 0.1);
  border-radius: 8px;
  z-index: -1;
}

.space-footer {
  height: 20px;
}

.modalForm {
  font-size: 18px;
}
.bg-pop-up {
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  padding: 0;
}


.notch-card {
  border: 1px solid;
  width: 100%;
}

.influencer {
  font-weight: normal;
  color: #4976ef;
}

.icons-notch-header {
  float: right;
}

.badge-card {
  background-color: #4976ff;
  font-weight: 400;
  margin-top: 5px;
}
.badge-danger{
  background: #FFD9A2;
  color: rgba(22, 36, 65, 0.75);;
}

.timestamp-card {
  float: right;
}
.menu-filter {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  background-color: #ffffff;
  padding: 0px;
}
.link-filter:hover {
  background-color: rgba(73, 118, 239, 0.15);
  border-left: 2px solid #4976ef;
  color: #4976ef;
  cursor: pointer;
}
.link-filter:hover > img {
  filter: saturate(60) brightness(0.9);
}
.link-filter > span {
  position: absolute;
  vertical-align: middle;
  margin-top: 6px;
}
.link-filter-submit{
  cursor: pointer;
}
.icon-filter {
  width: 35px;
  height: 35px;
}
.lg-check {
  width: 25px !important;
  height: 25px !important;
}
.opacity {
  filter: opacity(0.5);
}
body {
  background-color: #f7f9fa;
}
.txt-footer-card {
  font-weight: 500;
  cursor: pointer;
}
.text-top-two-card {
  font-weight: 500;
  font-size: 18px;
}
.icon-footer{
  min-width: 20px;
  min-height: 20px;
  max-height: 32px;
  max-width: 32px;
}
.notch-card center object{
  margin-top: 5px;
}
/* CHAT*/
.PersonInfo {
  padding-bottom: 5px;
  width: 180px;
  height: auto;
  border-radius: 6px;
  color: #1d3451;
  background: rgba(61, 88, 121, 0.1);
  border: 1px solid rgba(61, 88, 121, 0.5);
  letter-spacing: 0.01em;
}

.PersonInfoFont1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.PersonInfoFont2 {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.PersonInfoFont3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.picPerson {
  width: 104px;
  height: 104px;
  border-radius: 100%;
}

.picPersonFeed {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.miniPicPerson {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.dropButton {
  width: 100%;
  height: 39px;

  background: #3b5fcf;
  border: 1px solid rgba(44, 61, 106, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(44, 61, 106, 0.2);
  border-radius: 8px;
  z-index: 2;
}
.dropButton i {
  position: relative;
  top: -5px;
}

.dropButtonCount {
  background: #f7685b;
  border: 1px solid #fff;
  color: #fff;
}

.AutorInfoButtons {
  height: 51px;
  width: 100%;
  background: #5f7896;
}
.iconInput {
  position: relative;
  border-radius: 6px;
}

.iconInput i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
}

.iconInput input {
  height: 32px;
}
.not-bold {
  font-weight: 500 !important;
}
.historyMsn img {
  width: 50px;
  height: 50px;
}

.chatAlert {
  background: rgba(61, 88, 121, 0.1);
  margin-bottom: 0px !important;
}

.historyCnt {
  color: #0d386d !important;
}

.card-chat {
  background-color: #f7f9fa;
}
.border-right {
  border-right: 1px solid;
}
.border-top {
  border-top: 1px solid;
}

.bubble {
  max-width: 50%;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #3d5879;
  box-shadow: 0px 4px 4px rgba(61, 88, 121, 0.2);
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #3d5879 transparent transparent transparent;
  content: "\00a0";
  display: block;
  position: absolute;
  top: -1px;
}
.bubble::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent;
  content: "\00a0";
  display: block;
  position: absolute;
  top: -1px;
}

.me {
  text-align: left;
  float: left;
  margin: 5px 45px 5px 20px;
}

.me::before {
  left: -20px;
}

.me::after {
  left: -18px;
  top: 0px;
}
.you {
  text-align: right;
  float: right;
  margin: 5px 20px 5px 45px;
}

.you::before {
  right: -20px;
}
.you::after {
  right: -18px;
  top: 0px;
}

.chatPerson {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.chatSaveButton {
  width: 140px;
}
.edit-text {
  color: #0d386d;
}
.icon28 {
  width: 28px;
  height: 28px;
}

.searchInputButton:hover > .searchInputTopMenu {
  width: 250px;
  transition: width 0.2s linear;
}

.searchInputTopMenu {
  width: 0;
  transition: width 0.2s linear;
}

.searchInputTopMenu:focus {
  width: 250px;
  transition: width 0.2s linear;
}

.modal-header-title {
  font-size: 18px;
  line-height: 29px;
  color: #1d3451;
}

.modal-content {
  min-height: 600px;
  height: auto;
}

.filter-elements label {
  font-family: Montserrat;
  font-size: 18px;
  color: #0d386d;
}

.filter-elements.size16 label {
  font-size: 16px;
}

.filter-elements .mini-select {
  height: 39px;
  border: 1px solid #3d5879;
}

.iconInput .zmdi-chevron-down {
  pointer-events: none;
  padding: 0px 12px;
}

.iconInput .zmdi-stop {
  padding: 0px 5px;
  top: -6px;
}

.modal-footer .btn {
  width: 128px;
}

.btn {
  cursor: pointer;
}

.custon-select {
  border: 1px solid #fff;
  height: 32px;
  color: #0D386D;
  box-shadow: inset -20px 0px 0px 0px rgb(255, 255, 255);
  cursor: pointer;
}

.custon-select:hover {
  box-shadow: inset -20px 0px 0px 0px rgb(255, 255, 255);
}

.modal-backdrop {
  visibility: hidden !important;
}

.modal.in {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-group .btn-defa ult,
.current-color,
.glyphicon,
.current-font {
  color: #0d386d;
  font-weight: 400 !important;
  font-size: 14px;
}

.dropdown-menu li a {
  color: #0d386d !important;
  font-weight: 400;
  padding-left: 5px;
  font-size: 14px;
}

.bootstrap-wysihtml5-insert-image-modal .modal-dialog .modal-content {
  min-height: 200px;
  color: #0d386d;
}

.bootstrap-wysihtml5-insert-image-modal
  .modal-dialog
  .modal-content
  .modal-header
  a {
  display: none;
}

.bootstrap-wysihtml5-insert-link-modal .modal-dialog .modal-content {
  min-height: 200px;
  color: #0d386d;
}

.bootstrap-wysihtml5-insert-link-modal
  .modal-dialog
  .modal-content
  .modal-header
  a {
  display: none;
}

.wysihtml5-toolbar {
  /* text-shadow: 0 0 black; */
  background-color: #efefef;
  /* border: 1px solid; */
  border-radius: 8px;
  width: fit-content;
  margin-top: -10px !important;
  margin-bottom: 10px !important;
  padding-top: 5px !important;
}

.wysihtml5-toolbar li {
  margin: 0 !important;
}

.btn-sendmessage {
  position: absolute;
  margin-left: -18px;
}

.ballon-message img {
  width: 90%;
}

.ballon-message {
  font-size: 16px;
  text-align: left;
}

.ballon-message p {
  margin: 0 !important;
}

.chat-colunm {
  height: 845px;
  overflow-y: auto;
}

.bubble .small {
  font-size: 11px;
}

.wysihtml5-sandbox {
  height: 85px !important;
  padding: 10px !important;
}

.wysihtml5-sandbox:focus {
  padding: 5px !important;
}

.icon-success:hover {
  border: 6px solid rgba(18, 178, 133, 0.3);
  border-radius: 100%;
}

.icon-warning:hover {
  border: 6px solid rgba(236, 187, 67, 0.3);
  border-radius: 100%;
}

.icon-danger:hover {
  border: 6px solid rgba(255, 87, 125, 0.3);
  border-radius: 100%;
}

.icon-medium:hover {
  border: 6px solid rgba(255, 146, 30, 0.2);
  border-radius: 100%;
}

.btn-agrupar{
  background: rgba(0, 122, 255, 0.7);
  font-weight: 300;
  border: 0px;
  margin-left: 30px;
  width: 105px;
}

 .custon-dropdown a{ 
  color: rgba(61, 88, 121, 0.7);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.custon-dropdown a:hover{ 
  border-left: 3px solid #4976EF;
  color: rgba(61, 88, 121, 0.7);
  background:rgba(73, 118, 239, 0.3);
  border-radius: 0;
}

.custon-dropdown a:focus{ 
  color: rgba(61, 88, 121, 0.7);
  border-left: 3px solid #4976EF;
  background: rgba(73, 118, 239, 0.2);
  border-radius: 0;
}
.custon-dropdown{ 
  width: 248px;
  border: 1px solid rgb(179, 179, 179);
}
.custon-dropdown .list-group-item{
  border : 0;
}

a.icon-top-menu, a.icon-top-menu:hover, a.icon-top-menu:focus {
  text-decoration: none;
}

a.icon-top-menu:hover {
  cursor: pointer;
}

.icon-top-menu + .dropdown-menu.show{
transform: translate3d(-75%, 42px, 0px) !important;
border: 0;
}

.dropdown-menu.show::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  border-color: transparent transparent rgb(179, 179, 179) transparent;
  content: "\00a0";
  display: block;
  position: absolute;
  top: -3px;
  left: 80%;
}

.dropdown-menu.show::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  border-color: transparent transparent #fff transparent;
  content: "\00a0";
  display: block;
  position: absolute;
  top: -1px;
  left: 80%;
}  

.first{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.last{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
  
.first a{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.last a{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
.first:hover ~ ::after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  border-color: transparent transparent rgb(200, 214, 250) transparent;
  content: "\00a0";
  display: block;
  position: absolute;
  top: -1px;
  left: 80%;
  z-index: 5
}

.daterange {
  width: 0;
}

.fill-control-indicator {
  cursor: pointer;
}

.group-emojis > *{
  cursor: pointer;
}

.custom-control{
  cursor: pointer;;
}

.iconInput .zmdi-search{
  font-size: 20px;
  margin-top: -3px;
}