/* CUSTOM CLASS */
.PersonInfo {
    width: 180px;
    height: 90px;
    border-radius: 6px;
    color: #1d3451;
    background: rgba(61, 88, 121, 0.1);
    border: 1px solid rgba(61, 88, 121, 0.5);
    letter-spacing: 0.01em;
}

.PersonInfoFont1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.PersonInfoFont2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.PersonInfoFont3 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.picPerson {
    width: 104px;
    height: 104px;
    border-radius: 100%;
}

.miniPicPerson {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.dropButton {
    width: 100%;
    height: 39px;

    background: #3B5FCF;
    border: 1px solid rgba(44, 61, 106, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(44, 61, 106, 0.2);
    border-radius: 8px;
}
.AutorInfoButtons {
    width: 100%;
    background: #5F7896;
}
.searchInput {
    position: relative;
}

.searchInput i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.searchInput input {
    height: 32px;
}

.historyMsn img {
    width: 40px;
    height: 40px;
}

.chatAlert{
    background: rgba(61, 88, 121, 0.1);
}