<!-- MODAL PAGINACAO -->
<div class="modal fade" id="modalPaginacao">
    <div class="modal-dialog modal-lg border border-primary rounded">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="p-0 modal-header border-primary justify-content-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="text-center pt-4 modal-header-title">Paginação</p>
                        </div>
                        <div class="col-md-2">
                            <div class="row justify-content-end">
                                <button type="button" class="close p-3" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Modal body -->
             <div class="modal-body justify-content-center">
                <div class="modal-body">
                    <div class="container-fluid filter-elements">
                        <div class="row mt-4"></div>
                        <div class="row my-5 justify-content-center">
                            <span>Resultados por página</span>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3 text-left"></div>
                            <div class="col-md-4 text-left">
                                <div class="form-group ml-2">
                                    <div class="form-check">
                                        <label class="custom-control fill-checkbox ">
                                            <input type="checkbox" class="fill-control-input" ng-model="dataFilterSelected.ds_10">
                                            <span class="fill-control-indicator mt-1"></span>
                                            <span class="fill-control-description  mt-1">10</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="custom-control fill-checkbox ">
                                            <input type="checkbox" class="fill-control-input" ng-model="dataFilterSelected.ds_50">
                                            <span class="fill-control-indicator mt-1"></span>
                                            <span class="fill-control-description  mt-1">50</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-left">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control fill-checkbox">
                                            <input type="checkbox" class="fill-control-input" ng-model="dataFilterSelected.ds_30">
                                            <span class="fill-control-indicator mt-1"></span>
                                            <span class="fill-control-description  mt-1">30</span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="custom-control fill-checkbox">
                                            <input type="checkbox" class="fill-control-input" ng-model="dataFilterSelected.ds_100">
                                            <span class="fill-control-indicator mt-1"></span>
                                            <span class="fill-control-description  mt-1">100</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <div class="row mb-5 container-fluid">
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-end">
                            <button class="btn btn-outline-primary" data-dismiss="modal"  ng-click="cancelFilter()">Cancelar</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-start">
                            <button class="btn btn-success" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                    <div class="row mb-4 container-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</div>