<!-- MODAL ACOES POST -->
<div class="modal fade" id="modalAcoesPost">
    <div class="modal-dialog modal-lg border border-primary">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="text-center h5">Ações no post</p>
                        </div>
                        <div class="col-md-2">
                            <div class="row justify-content-end">
                                <button type="button" class="close p-3" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5">
                <div class="modal-body px-5">
                    <div class="container-fluid">
                        <div class="row mt-4 pY-3 border border-top-0 border border-left-0 border border-right-0 border-primary" ng-repeat="track in selectedPost.post_track">
                            <div class="col-sm-2 d-flex justify-content-around pl-3 pr-0">
                                <img src="library/icons/sgv/CheckMark.svg"></img>
                                <span ng-click="removeTrack(selectedPost,track)"><img src="library/icons/sgv/x.svg"></img></span>
                                <img src="library/icons/sgv/Minus.svg"></img>
                            </div>
                            <div class="col-sm-10 text-left p-0 text-primary">
                                <span>{{track.date}} | {{track.user}} | {{track.action}} | {{track.type}} | {{track.method}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>