<!-- MODAL CHAMADO -->
<div class="modal fade" id="modalChamado">
    <div class="modal-dialog modal-lg border border-primary rounded">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="p-0 modal-header border-primary justify-content-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="text-center pt-4 modal-header-title">Chamado</p>
                        </div>
                        <div class="col-md-2">
                            <div class="row justify-content-end">
                                <button type="button" class="close p-3" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body">
                    <div class="container-fluid filter-elements">
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group  text-left">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group mt-5">
                                                <label for="id">ID do chamado</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-search text-secondary"></i> <input type="search"  ng-model="dataFilterSelected.ds_idchamado"
                                                        class="border-0 w-100 pl-3" placeholder="Buscar..." id="id" />
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="cham">Chamados</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100"  ng-model="dataFilterSelected.ds_chamados">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_chamados" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="fav">Favorito</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100"  ng-model="dataFilterSelected.ds_favorito">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_favorito" value="{{option.value}}">{{option.label}}</option>   
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mt-5">
                                                <label for="idCRM">ID do chamado no CRM</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-search text-secondary"></i> <input type="search"  ng-model="dataFilterSelected.ds_idchamadocrm"
                                                        class="border-0 w-100 pl-3" placeholder="Buscar..." id="idCRM" />
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="sentEnt">Sentimento de entrada</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100"  ng-model="dataFilterSelected.ds_sentimentoentrada">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_sentimentoentrada" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="form">Formulários</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_formularios">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_formularios" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mt-5">
                                                <label for="prior">Prioridade</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_prioridade">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_prioridade" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="sentSai">Sentimento de saída</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_sentimentosaida">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_sentimentosaida" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-5">
                                                <label for="favo">Favorável</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_favoravel">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_favoravel" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="form-group mt-5 mr-4">
                                                <label for="sta">Status</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_status">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_status" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group mt-5 ml-4">
                                                <label for="ate">Atendentes</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100" ng-model="dataFilterSelected.ds_atendentes">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_favoravel" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <div class="row mb-3 container-fluid">
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-end">
                            <button class="btn btn-outline-primary" data-dismiss="modal"  ng-click="cancelFilter()">Cancelar</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-start">
                            <button class="btn btn-success" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>