<!-- MODAL ATENDIMENTO -->
<div class="modal fade" id="modalAtendimento">
    <div class="modal-dialog modal-lg border border-primary rounded">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="p-0 modal-header border-primary justify-content-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="text-center pt-4 modal-header-title">Atendimento</p>
                        </div>
                        <div class="col-md-2">
                            <div class="row justify-content-end">
                                <button type="button" class="close p-3" data-dismiss="modal">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-5">
                            <div class="col text-center">
                                <div class="form-group filter-elements text-left">
                                    <div class="row">
                                        <div class="col-sm-6 pr-4">
                                            <div class="form-group">
                                                <label for="busRes">Busca nas Respostas</label>
                                                <div class="iconInput form-control p-1">
                                                    <input type="text" class="form-control border-0 w-100"
                                                        id="busRes" />
                                                </div>
                                            </div>
                                            <div class="form-group mt-4">
                                                <label for="via">Via Bot</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_viabot" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pl-4">
                                            <div class="form-group">
                                                <label for="res">Respondidos</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_respondidos" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4">
                                                <label for="ver">Verificados</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-chevron-down zmdi-hc-2x text-secondary"></i>
                                                    <select class="custon-select w-100">
                                                        <option></option>
                                                        <option ng-repeat="option in selectedFilter.do_inputs.di_verificados" value="{{option.value}}">{{option.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="ate">Atendentes</label>
                                                <div class="iconInput form-control p-1">
                                                    <i class="zmdi zmdi-search text-secondary"></i> <input type="search"
                                                        class="border-0 w-100 pl-3" placeholder="Buscar..." id="ate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <div class="row mb-5"  style="width: 100%;">
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-end">
                            <button class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex mx-auto justify-content-start">
                            <button class="btn btn-success" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>